[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-debugtoolbar = "*"
dotenv = "*"
flask = "*"
flask-login = "*"
pymongo = "*"
python-dotenv = "*"
werkzeug = "*"
certifi = "*"

[dev-packages]

[requires]
python_version = "3.9"
